<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eureka</title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
    <%- include('partials/preloader') %>
    <div class="home-header">
        <%- include('partials/header') %>
    </div>
    <%- include('partials/settings') %>
    <section class="publishMsg">
        <h1>Publish</h1>
        <article>
            <p>Publish your first course today and reach thousands of eager learners around the world. Share your knowledge, inspire others, and make a lasting impact by creating valuable content that educates and empowers.</p>
            <a href="/publish">Get started now</a>
        </article>
    </section>
    <section class="recents">
        <h1>Recently viewed</h1>
        <% if (recents.length > 0) { %>
            <div class="cards">
                <% recents.forEach(course => { %>
                    <% if (user._id.toString() !== course.userId.toString()) { %>
                        <a href="https://eureka-1han.onrender.com/course/<%= course._id %>/view">
                            <div class="card" id="<%= course._id %>">
                                <% if (course.thumbnail && course.thumbnail.data) { %>
                                    <img src="data:<%= course.thumbnail.mimeType %>;base64,<%= course.thumbnail.data %>" alt="Course Thumbnail">
                                <% } else { %>
                                    <img src="../../public/images/default-placeholder.png" alt="Default Course Thumbnail">
                                <% } %>    
                                <p class="niche"><%= course.niche %></p>                    
                                <div class="heading">
                                    <h5 class="title"><%= course.title %></h5>
                                    <img src="../public/images/dot.svg">
                                    <p class="courseDuration"><%= course.duration %></p>
                                </div>
                                <h6 class="author"><%= course.author %></h6>  
                            </div>
                        </a>
                    <% } %>
                <% }) %>
            </div>
        <% } else { %>
            <p>You have not viewed any courses yet</p>
        <% } %>
    </section>
    <% if (recents.length === 0) { %>
        <section class="space-section"></section>
    <% } %>
    <section class="popular">
        <h1>Most popular courses</h1> 
        <% if (topCourses.length > 0) { %>
            <div class="cards">
                <% topCourses.forEach(course => { %>
                    <% if (user._id.toString() !== course.userId.toString()) { %>
                        <a href="https://eureka-1han.onrender.com/course/<%= course._id %>/view">
                            <div class="card" id="<%= course._id %>">
                                <% if (course.thumbnail && course.thumbnail.data) { %>
                                    <img src="data:<%= course.thumbnail.mimeType %>;base64,<%= course.thumbnail.data %>" alt="Course Thumbnail">
                                <% } else { %>
                                    <img src="../../public/images/default-placeholder.png" alt="Default Course Thumbnail">
                                <% } %>    
                                <p class="niche"><%= course.niche %></p>                    
                                <div class="heading">
                                    <h5 class="title"><%= course.title %></h5>
                                    <img src="../public/images/dot.svg">
                                    <p class="courseDuration"><%= course.duration %></p>
                                </div>
                                <h6 class="author"><%= course.author %></h6>  
                            </div>
                        </a>
                    <% } %>
                <% }) %>
            </div>
        <% } else { %>
            <p>No popular courses yet.</p>
        <% } %>
    </section>
    <section class="get-started">
        <h1>Get Started with These Courses</h1>
        <% if (courses.length > 0) { %>
            <div class="cards">
                <% courses.forEach(course => { %>
                    <% if (user._id.toString() !== course.userId.toString()) { %>
                        <a href="https://eureka-1han.onrender.com/course/<%= course._id %>/view">
                            <div class="card" id="<%= course._id %>">
                                <% if (course.thumbnail && course.thumbnail.data) { %>
                                    <img src="data:<%= course.thumbnail.mimeType %>;base64,<%= course.thumbnail.data %>" alt="Course Thumbnail">
                                <% } else { %>
                                    <img src="../../public/images/default-placeholder.png" alt="Default Course Thumbnail">
                                <% } %>    
                                <p class="niche"><%= course.niche %></p>                    
                                <div class="heading">
                                    <h5 class="title"><%= course.title %></h5>
                                    <img src="../public/images/dot.svg">
                                    <p class="courseDuration"><%= course.duration %></p>
                                </div>
                                <h6 class="author"><%= course.author %></h6>  
                            </div>
                        </a>
                    <% } %>
                <% }) %>
            </div>
        <% } else { %>
            <p>No courses have been published yet.</p>
        <% } %>

        <% if (courses.length === 10) { %>
            <p class="showmore">Show more</p>
        <% } %>
    </section>
    <section class="space-section"></section>
    <%- include('partials/footer') %>
</body>
</html>